# Dependencies
node_modules/

project_explanation.txt

# Terraform
.terraform/
*.tfstate
*.tfstate.*
.terraform.lock.hcl
terraform.tfvars

# IDE
.idea/
.vscode/

# Logs
*.log

# Environment variables
.env
.env.local
.env.*

# Build outputs
dist/
build/

# OS files
.DS_Store
Thumbs.db